html
Copiar código
---
export interface Props{
  title?: string;
}

export interface MenuOptions{
    title: string;
    href: string;
}

const menuOptions: MenuOptions[] = [
    {title: 'Características', href: '/'},
    {title: 'Precios', href: '/pricing'},
    {title: 'Sobre Nosotros', href: '/sn'},
]

const {title}= Astro.props;
---
<header class="bg-blue-950 text-white p-1 flex justify-between items-center ">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex justify-between items-center gap-x-12">
            <a class="block text-teal-600" href="/">
                <span class="sr-only">{title}</span>
                <img src="/assets/img/logo.png" alt="Logo" class="w-14 h-14">
            </a>
        </div>
        <div class="hidden lg:flex items-center gap-x-8">
            <div class="flex justify-between gap-x-6">
                {menuOptions.map(
                    (menuOption) => (
                        <a href={menuOption.href} class="text-sm font-semibold leading-6 text-white transition hover:text-lime-400">{menuOption.title}</a>
                    )
                )}
            </div>
            <div class="flex items-center gap-4">
                <a class="rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white shadow" href="/login">
                    Login
                </a>
                <a class="rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white hidden sm:flex" href="/register">
                    Register
                </a>
            </div>
        </div>
        <div class="flex lg:hidden">
            <button id="menu-button" type="button" class="rounded inline-flex items-center justify-between bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
        </div>
    </nav>
    <!-- Mobile menu, hidden by default -->
    <div id="mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-10 bg-blue-950"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-blue-950 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="/assets/img/logo.png" alt="Logo">
              </a>
              <button id="close-menu-button" type="button" class="-m-2.5 rounded-md p-2.5 text-white">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        {menuOptions.map(
                            (menuOption) => (
                                <a href={menuOption.href} class="block text-base font-semibold leading-6 text-white transition hover:text-lime-400 mb-4">{menuOption.title}</a>
                            )
                        )}
                        <a class="block rounded-md bg-blue-600 px-5 py-2.5 text-base font-medium text-white shadow mb-4" href="/login">
                            Login
                        </a>
                        <a class="block rounded-md bg-blue-600 px-5 py-2.5 text-base font-medium text-white" href="/register">
                            Register
                        </a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        const closeMenuButton = document.getElementById('close-menu-button');
        
        menuButton?.addEventListener('click', function() {
            mobileMenu?.classList.toggle('hidden');
        });
        closeMenuButton?.addEventListener('click', function() {
            mobileMenu?.classList.add('hidden');
        });
    });
</script>